<section class="work position-relative">
    <img class="vector-shape vector-shape-top" src="/ressources/images/vectors/{{ vector_shape }}" alt="">
    <div class="wrapper">
        <div class="box">
            <div class="icon"><i class="fas fa-file-alt"></i></div>
            <div class="question">
                <h2>Mon travail vous plaît&nbsp;?</h2>
                <p>N'hésitez pas à consulter mon CV&nbsp;!</p>
            </div>
            <a class="button-primary button-yellow" href="/ressources/documents/CV_BADI_wissem.pdf" target=”_blank”><i class="fas fa-download"></i>Télécharger le document</a>
        </div>
    </div>
    <img class="vector-shape vector-shape-bottom" src="/ressources/images/vectors/vector-bottom-right-dark-grey.svg" alt="">
</section>